@using HomeDataCenterCore.Domain.ViewModels
@model PagingViewModel

<div>
    <ul class="Paging" style="clear: both;">
        <li>
            @if (string.IsNullOrEmpty(Model.FirstUrl))
            {
                <a>首页</a>
            }
            else
            {
                <a href="@Model.FirstUrl">首页</a>
            }
        </li>
        <li>
            @if (string.IsNullOrEmpty(Model.PreLink))
            {
                <a>上页</a>
            }
            else
            {
                <a href="@Model.PreLink">上页</a>
            }
        </li>
        @foreach (var pl in Model.PageLinks)
        {

            <li>
                @if (string.IsNullOrEmpty(pl.Value))
                {
                    <a>@pl.Key</a>
                }
                else
                {
                    <a href="@pl.Value">@pl.Key</a>
                }
            </li>
        }
        <li>
            @if (string.IsNullOrEmpty(Model.NextLink))
            {
                <a>下页</a>
            }
            else
            {
                <a href="@Model.NextLink">下页</a>
            }
        </li>
        <li>
            @if (string.IsNullOrEmpty(Model.LastLink))
            {
                <a>末页</a>
            }
            else
            {
                <a href="@Model.LastLink">末页</a>
            }
        </li>
        <li>
            <span>
                @Model.Summary
            </span>
        </li>
    </ul>
</div>
