@model IEnumerable<BodyDataViewModel>


<div class="row">
    <div>
        <a class="btn btn-info" asp-action="Create">新增数据</a>
    </div>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RecordTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Shape)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BMI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BodyFatPercentage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BodyMoisture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SkeletalMuscleRate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MuscleMass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BoneMass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FatFreeBodyWeight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Protein)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubcutaneousFat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VisceralFatGrade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BodyAge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BasalMetabolism)
                </th>
            </tr>
            @Html.DisplayForModel()
        </table>
    </div>
</div>
