@model HomeDataCenterCore.Domain.DomainModels.FilmData

<h1>@ViewBag.Title</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherCNFilmName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherCNFilmName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherENFilmName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherENFilmName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShootingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShootingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmingLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmingLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserRating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">返回</a>
</div>
